# Root — Convex deployment (created by `npx convex dev`)
# Dev
CONVEX_DEPLOYMENT=dev:dashing-hippopotamus-836

# Prod
# CONVEX_URL (prod): https://hallowed-dogfish-39.convex.cloud
# CONVEX_SITE_URL (prod): https://hallowed-dogfish-39.convex.site
